/* body {
    background-color: black !important;
    height: 1000px;
}


.wrapper{
    background-color: white;
    width : 1700px;
    margin-left: 200px;
} */


body{
    background-color: tomato !important;
    height: 1000px;
}
.poster_list{
    background-color: white;
    height: 270px;
    margin-top: 50px;
}
.poster{
    white-space: nowrap;
    position: inline-block;
    float: left;
    background-color: black;
    height: 270px;
    width: 200px;
    margin-left: 103px;
}